@font-face {
    font-family: 'BorgesTituloBlanca';
    src: url("/fonts/380806_0_0.eot");
    src: url("/fonts/380806_0_0.eot?#iefix") format("embedded-opentype"),
    url("/fonts/380806_0_0.woff2") format("woff2"),
    url("/fonts/380806_0_0.woff") format("woff"),
    url("/fonts/380806_0_0.ttf") format("truetype"),
    url("/fonts/380806_0_0.svg#wf") format("svg");
}
